<h1 class="header">Expanding Cards</h1>
<div class="expanding-cards">
  <div class="panel active" style=" background-image: url(<%= image_path('cloud.jpg') %>);">
    <h3><i class="fab fa-cloudflare"></i></h3>
  </div>
  <div class="panel" style=" background-image: url(<%= image_path('snowflake.jpg') %>);">
    <h3><i class="far fa-snowflake"></i></h3>
  </div>
  <div class="panel" style=" background-image: url(<%= image_path('mountain.jpg') %>);">
    <h3><i class="fas fa-mountain"></i></h3>
  </div>
  <div class="panel" style=" background-image: url(<%= image_path('spring.jpg') %>);">
    <h3><i class="fas fa-seedling"></i></h3>
  </div>
  <div class="panel" style=" background-image: url(<%= image_path('fall.jpg') %>);">
    <h3><i class="fas fa-tree"></i></h3>
  </div>
  <div class="panel" style=" background-image: url(<%= image_path('ocean.jpg') %>);">
    <h3><i class="fas fa-water"></i></h3>
  </div>
</div>
