<h1>Small Projects</h1>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h2 class="header">Expanding Cards</h2>
        <div class="expanding-cards">
          <div class="panel active" style=" background-image: url(<%= image_path('cloud.jpeg') %>);">
            <h3><i class="fab fa-cloudflare"></i></h3>
          </div>
          <div class="panel" style=" background-image: url(<%= image_path('snowflake.jpeg') %>);">
            <h3><i class="far fa-snowflake"></i></h3>
          </div>
          <div class="panel" style=" background-image: url(<%= image_path('mountain.jpeg') %>);">
            <h3><i class="fas fa-mountain"></i></h3>
          </div>
          <div class="panel" style=" background-image: url(<%= image_path('spring.jpeg') %>);">
            <h3><i class="fas fa-seedling"></i></h3>
          </div>
          <div class="panel" style=" background-image: url(<%= image_path('fall.jpeg') %>);">
            <h3><i class="fas fa-tree"></i></h3>
          </div>
          <div class="panel" style=" background-image: url(<%= image_path('ocean.jpeg') %>);">
            <h3><i class="fas fa-water"></i></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
